.page-container {
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
}
h1 {
  color: white;
  font-size: 47px;
}
h2 {
  font-size: 30px;
  color: #4b4845;
}
.h2_white {
  font-size: 30px;
  color: white;
  font-weight: normal;
}
h3 {
  font-size: 30px;
  color: white;
}
h4 {
  font-size: 17px;
  font-weight: 400;
}
h5 {
  font-size: 16px;
  color: #4b4845;
  font-weight: bolder;
}
.h5_white {
  font-size: 16px;
  color: white;
  font-weight: bolder;
}
.btn {
  display: inline-block;
  background-color: #ffffff;
  border: 2px solid #5f9dd8;
  font-weight: bold;
  color: #5f9dd8;
  font-size: 18px;
  padding: 8px 38px;
  text-decoration: none;
}
.white-hr {
  width: 50%;
  margin: auto;
  border-top: 1px solid white;
}
.grey-hr {
  width: 5%;
  margin: auto;
  border-top: 1px solid #b4b2b2;
}
.white-hr2 {
  width: 35%;
  margin-right: auto;
  border-top: 2px solid white;
}