body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
html {
  box-sizing: border-box;
}
.mt100 {
  margin-top: 100px;
}
*, *:before, *:after {
  box-sizing: inherit;
}
h1, h2, h3, h4, h5, {
  margin: 0;
  padding: 0;
}
.h2_white {
  margin: 0;
  padding: 0;
}
.h5_white {
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
  height: 100%;
}
