.main {
  height: auto;
  display: flex;
  &__list {
    text-align: center;
      &-item {
        display: flex;
        margin: 15px 30px;
        &:hover {
          .main__list-item-project {
          color: var(--lite-color);
          transition: 0.27s;
        }
          .main__list-item-img {
            fill: var(--lite-color);
            transition: 0.27s;
          }
        }
        &-img {
          display: block;
          height: 50px;
          width: 50px;
          cursor: pointer;
          fill: var(--secondary-color);
        }
      &-project {
        cursor: pointer;
        color: var(--secondary-color);
        font-family: cursive;
        align-items: center;
        font-size: 30px;
      }
    }
  }
}
.active {
  color: var(--lite-color);
  fill: var(--lite-color);
}