<div class="page-container">
    <div class="main">
        <ul class="main__list">
            <li class="main__list-item"
                routerLink="project1">
                <p class="main__list-item-project"
                   routerLinkActive="active">project #1</p>
                <svg class="main__list-item-img"
                     routerLinkActive="active"
                     data-src="./assets/images/svg/file.svg">
                </svg>
            </li>
            <li class="main__list-item"
                routerLink="project2">
                <p class="main__list-item-project"
                   routerLinkActive="active">project #2</p>
                <svg class="main__list-item-img"
                     routerLinkActive="active"
                     data-src="./assets/images/svg/file.svg">
                </svg>
            </li>
            <li class="main__list-item"
                routerLink="project3">
                <p class="main__list-item-project"
                   routerLinkActive="active">project #3</p>
                <svg class="main__list-item-img"
                     routerLinkActive="active"
                     data-src="./assets/images/svg/file.svg">
                </svg>
            </li>
        </ul>
    </div>
</div>
