.gallery {
  position: relative;
  padding-top: 100px;
  text-align: center;
  background-color: var(--secondary-color);
  h2 {
    margin-bottom: 15px;
    font-size: 35px;
    color: var(--primary-color);
  }
  &__wrapper {
    display: flex;
    align-items: center;
    overflow: auto;
    position: relative;
    height: 400px;
  }
  &__title {
    display: inline-block;
    margin-bottom: 50px;
    color: var(--desc-color);
  }
  &__list {
    display: flex;
    flex-wrap: nowrap;
    margin: 0 -10px;
    position: absolute;
    align-items: center;
    &-item {
      width: 300px;
      padding: 0 10px;
      &-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: var(--secondary-color);
        border: 3px solid var(--secondary-color);
        transition: .2s ease-out;
        &:hover {
          color: var(--secondary-color);
          background-color: var(--primary-color);
          border-color: var(--alternative-color);
          .gallery__list-item-img {
            height: 220px;
          }
          .gallery__list-item-text {
            height: 80px;
          }
          .arrow-down {
            border-color: var(--secondary-color);
          }
        }
      }
      &-img {
        background-image: url("../../assets/images/macao.jpg");
        object-fit: cover;
        height: 200px;
        transition: height .2s ease-out;
      }
      &-text {
        transition: height .2s ease-out;
        height: 60px;
        text-align: left;
        padding: 10px;
      }
    }
  }
}

.arrow-down {
  border: 2px solid var(--desc-color);
  display: inline-block;
  padding: 5px;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  margin-left: 60px;
}
