<div class="gallery">
  <h2>
    SPECIAL OFFERS
  </h2>
  <span class="gallery__title">
            Best 2014 packages where people love to stay!
        </span>
  <div class="gallery__wrapper">
    <ul class="gallery__list">
      <li class="gallery__list-item">
        <div class="gallery__list-item-wrapper">
          <div class="gallery__list-item-img"></div>
          <div class="gallery__list-item-text">
            <span class="">Hong Kong & Macau</span>
            <span class="arrow-down"></span>
            <span class="">New destination</span>
          </div>
        </div>
      </li>
      <li class="gallery__list-item">
        <div class="gallery__list-item-wrapper">
          <div class="gallery__list-item-img">
          </div>
          <div class="gallery__list-item-text">
            <span class="">Hong Kong & Macau</span>
            <span class="arrow-down"></span>
            <span class="">New destination</span>
          </div>
        </div>
      </li>
      <li class="gallery__list-item">
        <div class="gallery__list-item-wrapper">
          <div class="gallery__list-item-img">
          </div>
          <div class="gallery__list-item-text">
            <span class="">Hong Kong & Macau</span>
            <span class="arrow-down"></span>
            <span class="">New destination</span>
          </div>
        </div>
      </li>
      <li class="gallery__list-item">
        <div class="gallery__list-item-wrapper">
          <div class="gallery__list-item-img">
          </div>
          <div class="gallery__list-item-text">
            <span class="">Hong Kong & Macau</span>
            <span class="arrow-down"></span>
            <span class="">New destination</span>
          </div>
        </div>
      </li>
      <li class="gallery__list-item">
        <div class="gallery__list-item-wrapper">
          <div class="gallery__list-item-img">
          </div>
          <div class="gallery__list-item-text">
            <span class="">Hong Kong & Macau</span>
            <span class="arrow-down"></span>
            <span class="">New destination</span>
          </div>
        </div>
      </li>
      <li class="gallery__list-item">
        <div class="gallery__list-item-wrapper">
          <div class="gallery__list-item-img">
          </div>
          <div class="gallery__list-item-text">
            <span class="">Hong Kong & Macau</span>
            <span class="arrow-down"></span>
            <span class="">New destination</span>
          </div>
        </div>
      </li>
      <li class="gallery__list-item">
        <div class="gallery__list-item-wrapper">
          <div class="gallery__list-item-img">
          </div>
          <div class="gallery__list-item-text">
            <span class="">Hong Kong & Macau</span>
            <span class="arrow-down"></span>
            <span class="">New destination</span>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
