<div class="travel">
  <div class="page-container">
    <div class="travel__wrapper">
      <div class="travel__title">
        <h1>TO TRAVEL IS TO LIVE</h1>
        <div class="travel__title-desc">
          You don't Need Magic to Disappear.
          All you need is a destination
        </div>
        <a class="travel__link-button"
           href="#">
          <button class="button _travel"
                  type="button">
            SHOW ON THE MAP
          </button>
        </a>
        <a class="travel__link-button"
           href="#">
          <button class="button _travel"
                  type="button">
            MORE INFO
          </button>
        </a>
      </div>
    </div>
  </div>
</div>
