.travel {
  background-image: url("../../assets/images/bridge.jpg");
  background-size: cover;
  &__wrapper {
    text-align: center;
  }
  &__title {
    color: var(--secondary-color);
    padding: 250px 0;
    @media (max-width: 700px){
      padding: 150px 0;
    }
    &-desc {
      display: block;
      margin-bottom: 30px;
    }
  }
  &__link{
    &-button{
      display: inline-block;
      &:last-child{
        margin-left: 10px;
      }
    }
  }
}
.button {
  &._travel {
    display: inline-block;
    border: 2px solid var(--secondary-color);
    padding: 15px 20px;
    border-radius: 5px;
    color: var(--secondary-color);
    &:hover {
      background-color: var(--alternative-color);
      border: none;
      border: 2px solid var(--alternative-color);
    }
  }
}
