.page-container {
  width:100%;
  margin:0 auto;
  padding: 0 20px;
  max-width: 1480px;
  @media (max-width: 770px){
    padding: 5px;
  }
}
.primary-section {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
.button {
  padding:10px;
  color: var(--secondary-color);
  &._menu {
    color: var(--desc-color);
  }
  &._login {
    display: inline-block;
  }
}
.section-holidays {
  background-image: url("../images/holidays.jpg");
  background-size: cover;

}
.section-reviews {
  background: var(--secondary-color);
}
.section-holidays>img {
  background-size: cover;
  background-repeat: repeat-y;
}
h1 {
  font-size: 50px;
  margin-bottom: 15px;
  @media (max-width: 770px){
    font-size: 35px;
  }
}
.data {
  display: block;
  color: var(--alternative-color);
}
.email {
  display: inline-block;
  padding-right: 10px;
  color: var(--alternative-color);
  line-height: 1.8;
}
:root {
  --primary-color: #2d3e50;
  --secondary-color: white;
  --alternative-color: #1cd1ae;
  --desc-color: grey;
  --border-color: black;
}
