.line3 {
  display: block;
  text-align: center;
  padding: 30px;
  &__title {
    margin-bottom: 7px;
    font-weight: 400;
  }
  &__line {
    margin-bottom: 40px;
  }
  &__text {
    font-size: 17px;
    margin-bottom: 50px;
    font-weight: 500;
  }
}
