<div class="section-primary">
    <div class="page-container">
        <div class="line3">
            <h2 class="line3__title">THE MADE TO MEASURE DIFFERENSE</h2>
            <div class="line3__line">
                <hr class="grey-hr">
            </div>
            <div>
                <h5 class="line3__text">We create suits and shirts custumaized to your exact meashurments and personal style at,<br>axcellent prices.</h5>
            </div>
            <div class="line3__botton">
                <a href="#"
                   type="button"
                   class="btn">SEE THE SUITS</a>
            </div>
        </div>
    </div>
</div>