.main {
  height: auto;
  display: flex;
  width: 1920px;
  margin: 0 auto;
  padding: 0 20px;
  background-color: grey;
  &__menu {
    width: 25%;
    text-align: center;
  }
  &__project {
    width: 75%;
    border: 2px Solid var(--border-color);
    background-color: var(--secondary-color);
  }
}