<div class="section-greyle">
	<header-app></header-app>
	<div class="main">
		<div class="main__menu">
			<main></main>
		</div>
		<div class="main__project">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>