.search {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  @media (max-width: 1200px){
    padding: 20px 0;
  }
  h2 {
    font-size: 36px;
    color: var(--secondary-color);
  }
  &__label{
    display: flex;
    align-items: center;
    width: 50%;
    position: relative;
    &-text{
      font-size: 25px;
      color: var(--desc-color);
    }
    @media (max-width: 1200px){
      width: 100%;
      margin-bottom: 15px;
    }
    &-wrapper{
      display: inline-block;
      width: 30%;
      text-align: center;
    }
  }
  &__wrapper{
    display: flex;
    align-items: center;
    width: 100%;
  }
  &__form{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    @media (max-width: 1200px){
      flex-direction: column;
    }
    &-svg{
      position: absolute;
      display: block;
      width: 20px;
      height: 20px;
      top: 20px;
      right: 20px;
      fill: var(--desc-color);
    }
    &-wrapper{
      display: flex;
      width: 85%;
      @media (max-width: 1200px){
        flex-direction: column;
        align-items: center;
        width: 65%;
        @media (max-width: 800px){
          width: 100%;
        }
      }
    }
    &-input-1{
      display: inline-block;
      background-color: var(--secondary-color);
      padding: 20px 5px;
      width: 100%;
      @media (max-width: 1200px){
        border-radius: 10px;
      }
    }
    &-input-2{
      display: inline-block;
      background-color: var(--secondary-color);
      padding: 20px 5px;
      width: 100%;
      @media (max-width: 1200px){
        border-radius: 10px;
      }
    }
  }
  &__polyline{
    height: 130px;
    width: 20px;
    fill: #2d3e50;
    stroke-width: 2;
    stroke: var(--desc-color);
    margin-left: 50px;
    @media (max-width: 1200px){
      display: none;
    }
  }
  &-text{
    font-size: 20px;
    color: var(--desc-color);
  }
}
.button._search {
  background-color: var(--alternative-color);
  padding: 20px 30px;
  display: inline-block;
  font-size: 17px;
  @media (max-width: 1200px){
    border-radius: 10px;
    margin: 20px 30px;
  }

}
//Media
@media (max-width: 1200px) {
  .search {
    &__title {
      display: none;
    }
  }
}
