<div class="search">
  <div class="page-container">
    <div class="search__wrapper">
      <div class="search__title">
                <span class="search__title-text">
                    FIND YOUR
                    <h2>HOLIDAYS</h2>
                </span>
      </div>
      <svg class="search__polyline">
        <polyline points="0,0 0,55 15,65 0,75 0,130"/>
      </svg>
      <form class="search__form">
        <div class="search__form-wrapper">
          <div class="search__label">
            <label class="search__label-wrapper">
              <span class="search__label-text">Where</span>
            </label>
            <input class="search__form-input-1"
                   type="text"
                   placeholder="Destination">
            <a class="search__form-link-svg"
               href="#">
              <svg class="search__form-svg"
                   data-src="./assets/images/svg/world.svg">
              </svg>
            </a>
          </div>
          <div class="search__label">
            <label class="search__label-wrapper">
              <span class="search__label-text">When</span>
            </label>
            <input class="search__form-input-2"
                   type="text"
                   placeholder="Select date">
            <a class="search__form-link-svg"
               href="#">
              <svg class="search__form-svg"
                   data-src="./assets/images/svg/world.svg">
              </svg>
            </a>
          </div>
        </div>
        <a>
          <button class="button _search"
                  type="submit">
            Search
          </button>
        </a>
      </form>
    </div>
  </div>
</div>
