.section-greyle {
  background-color: grey;
}
.page-container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1920px;
}
:root {
  --primary-color: #2d3e50;
  --secondary-color: white;
  --alternative-color: #1cd1ae;
  --desc-color: grey;
  --border-color: black;
  --lite-color: lightblue;
  --blu-color: blue;
}