.holidays {
  text-align: center;
  justify-content: center;
  color: var(--secondary-color);
  padding: 100px 0;
  &__desc {
    margin-bottom: 40px;
  }
  h2 {
    margin-bottom: 30px;
  }
  h3 {
    margin-top: 30px;
  }
  &__desc {
    justify-content: center;
    color: var(--desc-color);
    font-size: 18px;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    &-item {
      color: var(--desc-color);
      cursor: pointer;
      padding: 0 18px;
      &:hover {
        .holiday-text {
        color: var(--alternative-color);
        transition: 0.27s;
      }
        .holidays-svg {
          fill: var(--alternative-color);
          transition: 0.27s;
        }
      }
    &-image {
      fill: var(--secondary-color);
      height: 190px;
      width: 190px;
      margin: 0 auto;
      cursor: pointer;
    }
  }
}
}
.holidays-svg {
  fill: var(--secondary-color);
}

@media (max-width: 1920px) {
  .holidays__list {
    justify-content: center;
    &-item {
      &-image {
        height: 180px;
        width: 180px;
      }
    }
  }
}
@media (max-width: 1845px) {
  .holidays__list {
    justify-content: center;
    &-item {
      &-image {
        height: 160px;
        width: 160px;
      }
    }
  }
}
@media (max-width: 1710px) {
  .holidays__list {
    justify-content: center;
    &-item {
      &-image {
        height: 130px;
        width: 130px;
      }
    }
  }
}
@media (max-width: 1573px) {
  .holidays__list {
    justify-content: center;
    &-item {
      &-image {
        height: 100px;
        width: 100px;
      }
    }
  }
  h3 {
    font-size: 20px;
  }
}
@media (max-width: 1240px) {
  .holidays__list {
    justify-content: center;
    &-item {
      &-image {
        height: 80px;
        width: 80px;
      }
    }
  }
  h3 {
    font-size: 17px;
  }
}