<div class="section-holidays">
  <div class="page-container">
    <div class="holidays">
      <h2>HOLIDAYS TIPE</h2>
      <div class="holidays__desc">get the explore your dreams to travel the world!</div>
      <ul class="holidays__list">
        <a href="#" class="holidays__list-item">
          <li>
            <div class="holidays__list-item-image">
              <svg class="holidays-svg"
                   data-src="./assets/images/svg/clock.svg">
              </svg>
              <h3 class="holiday-text">Cruise</h3>
            </div>
          </li>
        </a>
        <a href="#" class="holidays__list-item">
          <li>
            <div class="holidays__list-item-image">
              <svg class="holidays-svg"
                   data-src="./assets/images/svg/clock.svg">
              </svg>
            </div>
            <h3 class="holiday-text">City Breaks</h3>
          </li>
        </a>
        <a href="#" class="holidays__list-item">
          <li>
            <div class="holidays__list-item-image">
              <svg class="holidays-svg"
                   data-src="./assets/images/svg/clock.svg">
              </svg>
            </div>
            <h3 class="holiday-text">Honeymoon</h3>
          </li>
        </a>
        <a href="#" class="holidays__list-item">
          <li>
            <div class="holidays__list-item-image">
              <svg class="holidays-svg"
                   data-src="../assets/images/svg/clock.svg">
              </svg>
            </div>
            <h3 class="holiday-text">Adventure</h3>
          </li>
        </a>
        <a href="#" class="holidays__list-item">
          <li>
            <div class="holidays__list-item-image">
              <svg class="holidays-svg"
                   data-src="./assets/images/svg/clock.svg">
              </svg>
            </div>
            <h3 class="holiday-text">Safary</h3>
          </li>
        </a>
        <a href="#" class="holidays__list-item">
          <li>
            <div class="holidays__list-item-image">
              <svg class="holidays-svg"
                   data-src="./assets/images/svg/clock.svg">
              </svg>
            </div>
            <h3 class="holiday-text">Beach</h3>
          </li>
        </a>
      </ul>
    </div>
  </div>
</div>
