<div class="section-third">
    <div class="page-container">
        <div class="line5">
            <h2 class="line5__title">VISIT US AT CHINOOK CENTER</h2>
            <h5 class="line5__text-1">Mon to Sat 9-9:30 Mon</h5>
            <h5 class="line5__text-1">San 11-7Б</h5>
            <h5 class="line5__text-1">Acros to Luxemburg on level 1</h5>
            <h5 class="line5__text-2">Grand opening on April 6</h5>
            <a href="#"
               type="button"
               class="btn">BOOK AN OPPOINTMENT</a>
        </div>
    </div>
</div>