.line5 {
  display: block;
  text-align: center;
  padding: 30px;
  &__title {
    padding-bottom: 30px;
    color: var(--secondary-color);
    font-weight: 500;
  }
  &__text-1 {
    padding-bottom: 10px;
    color: var(--secondary-color);
    font-weight: 500;
  }
  &__text-2 {
    padding-top: 50px;
    padding-bottom: 55px;
    color: var(--secondary-color);
    font-weight: 500;
  }
}

