<div class="section-reviews">
  <div class="reviews">
    <h2>HAPPY CLIENTS</h2>
    <h4>what costumer say about us and why love our services!</h4>
    <ul class="reviews-comments">
      <li class="reviews-comments__items">
                    <span class="reviews-comments__items-text">Loren Ipsum is simply dummy text of the printing and typeset
                            indistri Loretti ipsums has been the indystrys standard
                            dammy text ever hes an with new version look
                            <p><span class="client-name">Client Name</span></p>
                            <p>United States</p>
                    </span>
      </li>
      <li class="reviews-comments__items">
                    <span class="reviews-comments__items-text">Loren Ipsum is simply dummy text of the printing and typeset
                            indistri Loretti ipsums has been the indystrys standard
                            dammy text ever hes an with new version look
                            <p><span class="client-name">Client Name</span></p>
                            <p>United States</p>
                    </span>
      </li>
      <li class="reviews-comments__items">
                    <span class="reviews-comments__items-text">Loren Ipsum is simply dummy text of the printing and typeset
                            indistri Loretti ipsums has been the indystrys standard
                            dammy text ever hes an with new version look
                            <p><span class="client-name">Client Name</span></p>
                            <p>United States</p>
                    </span>
      </li>
      <li class="reviews-comments__items">
                    <span class="reviews-comments__items-text">Loren Ipsum is simply dummy text of the printing and typeset
                            indistri Loretti ipsums has been the indystrys standard
                            dammy text ever hes an with new version look
                            <p><span class="client-name">Client Name</span></p>
                            <p>United States</p>
                    </span>
      </li>
      <li class="reviews-comments__items">
                    <span class="reviews-comments__items-text">Loren Ipsum is simply dummy text of the printing and typeset
                            indistri Loretti ipsums has been the indystrys standard
                            dammy text ever hes an with new version look
                            <p><span class="client-name">Client Name</span></p>
                            <p>United States</p>
                    </span>
      </li>
      <li class="reviews-comments__items">
                    <span class="reviews-comments__items-text">Loren Ipsum is simply dummy text of the printing and typeset
                            indistri Loretti ipsums has been the indystrys standard
                            dammy text ever hes an with new version look
                            <p><span class="client-name">Client Name</span></p>
                            <p>United States</p>
                    </span>
      </li>
      <li class="reviews-comments__items">
                    <span class="reviews-comments__items-text">Loren Ipsum is simply dummy text of the printing and typeset
                            indistri Loretti ipsums has been the indystrys standard
                            dammy text ever hes an with new version look
                            <p><span class="client-name">Client Name</span></p>
                            <p>United States</p>
                    </span>
      </li>
    </ul>
  </div>
</div>
