.reviews {
  padding: 50px 0;
  text-align: center;
  h2 {
    margin-bottom: 30px;
  }
  h4 {
    color: var(--desc-color);
    margin-bottom: 60px;
  }

  &-comments {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding-bottom: 40px;
    &__items {
      opacity: 0.33;
      padding: 0 10px;
      &-text {
        &-border {
          border-top: 3px solid;
          border-bottom-color: transparent;
        }
        display: inline-block;
        text-align: left;
        color: var(--desc-color);
        width: 330px;
        border: 1px solid var(--desc-color);
        padding: 15px;
        position: relative;
      }
      &-text::before, &-text::after {
        content: '';
        position: absolute;
        left: 250px;
        bottom: -20px;
        border: 10px solid transparent;
        border-top: 10px solid var(--desc-color);
      }
      &-text::after {
        border-top: 10px solid var(--secondary-color);
        bottom: -19px;
      }
      &-text:hover {
        color: var(--border-color);
        border-top: 4px solid var(--alternative-color);
        transition: 0.3s;
        padding: 12px 15px 15px 15px;
        cursor: pointer;
      }
    }
    &__items:hover {
      opacity: 1;
    }
  }
}
.client-name {
  color: var(--alternative-color);
}
.svg {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}
