.line7 {
  display: block;
  text-align: center;
  padding: 40px;
  &__title {
    color: var(--secondary-color);
    padding-bottom: 55px;
  }
  &__text1 {
    color: var(--secondary-color);
    font-style: italic;
    padding-bottom: 60px;
    font-weight: 300;
  }
  &__text2 {
    color: var(--secondary-color);
    padding-bottom: 40px;
  }
}
