<div class="section-third">
  <div class="page-container">
    <div class="line7">
      <h5 class="line7__title">INDOCHINO IN THE NEWS</h5>
      <h2 class="line7__text1">"Indochino: THe It's-Too-Good-To-Be-<br>True-THat-Actually-True-Costom Suit".</h2>
      <h5 class="line7__text2">- Forbes</h5>
      <a href="#"
         type="button"
         class="btn">BOOK AN OPPOINTMENT</a>
    </div>
  </div>
</div>