.footer {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  text-align: center;
  &__list{
    display: flex;
    justify-content: center;
    align-items: center;
    &-item {
      margin: 0 10px;
    }
    &-desc {
      font-size: 13px;
      color: var(--desc-color);
      display: inline-block;
      margin-bottom: 40px;
    }
  }
  a {
    color: var(--secondary-color);
  }
  &__anchor {
    width: 0;
    height: 0;
    border-right: 50px solid transparent;
    border-left: 50px solid transparent;
    border-bottom: 50px solid var(--alternative-color);
    margin: 0px auto;
    position: relative;
    &-img {
      position: absolute;
      width: 20px;
      height: 20px;
      left: -10px;
      top: 20px;
    }
  }
}
.top {
  width: 0;
  height: 0;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-top: 7px solid var(--secondary-color);

}
.bottom {
  width: 0;
  height: 0;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-bottom: 7px solid var(--secondary-color);
  margin-bottom: 2px;
  margin-top: 2px;
}
.arrows {
  display: inline-block;
  padding-top: 2px;
}

//Media
@media (max-width: 800px) {
  .footer{
    &__list {
      flex-wrap: wrap;
    }
  }
}
