<div class="footer">
  <ul class="footer__list">
    <li class="footer__list-item">
      <a href="#">Home</a>
    </li>
    <li class="footer__list-item">
      <div class="arrows">
        <div class="bottom"></div>
        <div class="top"></div>
      </div>
    <li class="footer__list-item">
      <a href="#">Destination</a>
    </li>
    <li class="footer__list-item">
      <div class="arrows">
        <div class="bottom"></div>
        <div class="top"></div>
      </div>
    </li>
    <li class="footer__list-item">
      <a href="#">Cruises</a>
    </li>
    <li class="footer__list-item">
      <div class="arrows">
        <div class="bottom"></div>
        <div class="top"></div>
      </div>
    </li>
    <li class="footer__list-item">
      <a href="#">Specials</a>
    </li>
    <li class="footer__list-item">
      <div class="arrows">
        <div class="bottom"></div>
        <div class="top"></div>
      </div>
    </li>
    <li class="footer__list-item">
      <a href="#">Holidays</a>
    </li>
    <li class="footer__list-item">
      <div class="arrows">
        <div class="bottom"></div>
        <div class="top"></div>
      </div>
    </li>
    <li class="footer__list-item">
      <a href="#">Blog</a>
    </li>
    <li class="footer__list-item">
      <div class="arrows">
        <div class="bottom"></div>
        <div class="top"></div>
      </div>
    </li>
    <li class="footer__list-item">
      <a href="#">Contact us</a>
    </li>
  </ul>
  <span class="footer__list-desc">
        Copyright @voyage. All Right Reserved
    </span>
  <div class="footer__anchor">
    <a href="#top"
       id="">
      <img class="footer__anchor-img"
           alt=""
           src="../../../../../assets/images/arrow-top.png">
    </a>
  </div>
</div>
