<div class="section-secondary">
    <div class="page-container">
        <div class="section-main">
            <div class="section-main__logo">
                <div class="section-main__logo-image">
                    <img src="../../../../../assets/images/men.png"
                         alt="main">
                </div>
            </div>
            <div class="section-main__text">
                <div class="main-style">
                    <h1 class="main-style__title">THE TAILOR IS IN</h1>
                    <h4 class="main-style__text">The ultimate costum newswear experience<br>is now open in <b>Chinook Center</b></h4>
                    <div class="main-style__line">
                        <div class="white-hr2">
                        </div>
                    </div>
                    <h4 class="main-style__text">Visit us by april 30 to be enteriad in a draw<br>ofr a perfectly tailored wardrobe.</h4>
                    <div class="main-style__botton">
                        <a href="#"
                           type="button"
                           class="btn">BOOK AN OPPOINTMENT</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
