.section-main {
  display: flex;
  &__logo {
    display: flex;
    align-items: flex-end;
    width: 45%;
    &-image{
      width: 400px;
      height: 900px;
      margin: 0 0 0 auto;
    }
  }
  &__text {
    width: 55%;
    flex-wrap: wrap;
    text-align: left;
    padding-top: 150px;
  }
}
.main-style {
  text-align: left;
  color: var(--secondary-color);
  &__title {
    padding-bottom: 55px;
    padding-right: 50px;
  }
  &__line {
    padding-bottom: 50px;
    padding-right: 50px;
  }
  &__text {
    padding-bottom: 50px;
    padding-right: 50px;
  }
  &__botton {
    text-decoration: none;
    padding-right: 50px;
  }
}


@media (max-width: 800px) {
  .section-main {
    &__text {
      padding-top: 0px;
    }
    &__logo {
      display: none;
    }
    justify-content: center;
    padding: 20px 10px 20px 10px;
  }
}
