.fon {
  background: white;
  max-width: 1920px;
  padding: 0;
  margin: 0;
  border: none;
  list-style: none;
}
.verh {
  text-align: center;
  background-color: black;
  color: white;
}
.menu-nav {
  display: flex;
  justify-content: center;
}
.menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.logo {
  margin-left: 100px;
}
.menu .menu_item {
  padding: 0 20px;
}
.menu .menu_item a {
  font-size: 20px;
  color: black;
  text-decoration: none;
  font-style: italic;
}
.menu .logo img {
  height: 150px;
  width: auto;
}
.logos {
  display: flex;
  height: 550px;
  background: url("../../../../../assets/images/1.jpg") center no-repeat;
  background-size:  cover;
}
.logos-text {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
}
.logos-img>img {
  max-width: 100%;
  height: auto;
}
.logos h1 {
  max-width: 50%;
}
.main {
  display: flex;
  flex-direction: column;
  margin: 0;
}
.block1 {
  display: flex;
  vertical-align: top;
  height: 550px;
  &__image {
    width: 30%;
  }
}
.block1>img>a {
  height: 40px;
  width: 40px;
}
.history {
  background-color: white;
  text-align: center;
  width: 40%;
  padding: 30px;
}
.block2 {
  display: inline-flex;
  height: 100%;
  vertical-align: top;
}
.block2>img {
  width: 65%;
  height: 600px;
  object-fit: cover;
}
.medals {
  background-color: white;
  text-align: left;
  font-size: 20px;
  width: 40%;
  height: 560px;
  margin: auto;
  padding: 20px;
}
.block3 {
  display: inline-flex;
  height: 100%;
}
.block3>img {
  width: 70%;
  height: 800px;
  object-fit: cover;
}
.paris {
  background-color: white;
  text-align: right;
  font-size: 20px;
  margin: 0;
  width: 30%;

  padding-top: 200px;
}
.contact {
  text-align: center;
  font-size: 20px;
  background-color: white;
}
.contact-img {
  display: flex;
  justify-content: center;
  &-a {
  display: block;
  height: 40px;
  width: 40px;
  }
}
.email {
  display: flex;
  margin-top: 30px;
  justify-content: center;
  background-color: white;
}
.email input {
  height: 35px;
  width: 350px;
  border: 5px Solid black;
  margin-left: 30px;
  padding-left: 30px;
}
.btn-email button {
  font-size: 35px;
  background-color: black;
  color: white;
  height: 45px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 30px;
}
.block4,
.block5 {
  display: flex;
  box-sizing: border-box;
  justify-content: space-around;
  background-color: grey;
}
.block4>img,
.block5>img{
  height: auto;
  width: 16%;
}
.logos h1 {
  margin-left: 80px;
  margin-bottom: 30px;
}
.logos h2 {
  margin-left: 80px;
  margin-bottom: 30px;
}
.logos a {
  margin-left: 80px;
  margin-bottom: 30px;
}
.btn {
  display: inline-block;
  text-decoration: none;
  border: 2px solid black;
  color: black;
  font-weight: bold;
  padding: 5px 25px;
}
footer .menu-nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  font-size: 20px;
  color: black;
  text-decoration: none;
  font-style: italic;
}
footer .block4,
footer .block5 {
  display: flex;
  box-sizing: border-box;
  justify-content: space-around;
  background-color: grey;
}
