<div class="fon">
    <div class="verh">
      <p>text that will appear in the future for this site</p>
    </div>
    <div class="menu-nav">
      <ul class="menu">
        <li class="menu_item"><a href="#">sports</a></li>
        <li class="menu_item"><a href="#">results</a></li>
        <li class="menu_item"><a href="#">medals</a></li>
        <li class="menu_item"><a href="#">atlets</a></li>
      </ul>
      <div class="logo"><a href="#"><img
        src="https://olympics.com/en/images/static/beijing-images/shared/b2022-label.svg" alt="Beijing"></a>
      </div>
    </div>
    <div class="logos">
      <div class="logos-text">
        <h1>THE BEST OLIMPIC GAMES IN THE WORLD</h1>
        <h2>Come and see everything with your own eyes</h2>
        <div>
          <a class="btn" href="#">JOIN</a>
        </div>
      </div>
    </div>
  <div class="main">
    <div class="block1">
      <div class="block1__image">
        <img src="../../../../../assets/images/4.jpg">
      </div>
      <div class="history">
        <h2>HISTORY</h2>
        <br>
        <h3>Medal designs have varied considerably since the Games in 1896.</h3>
        <br>
        <h4>The design selected for the 1928 Games remained for many years, until its replacement at the 2004 Games in Athens as the result of controversy surrounding the use of the Roman Colosseum rather than a building representing Greek roots. The medals of the Winter Olympic Games never had a common design, but regularly feature snowflakes and the event where the medal has been won.</h4>
        <br>
        <a class="btn" href="#">FIND MORE INFORMATION</a>
      </div>
      <div class="block1__image">
      <img src="../../../../../assets/images/4.jpg">
      </div>
    </div>
    <div class="block2">
      <img src="../../../../../assets/images/5.jpg" alt>
      <div class="medals">
        <h2>MEDALS</h2>
        <br>
        <h3>An Olympic medal is awarded to successful competitors at one of the Olympic Games.</h3>
        <br>
        <h4>There are three classes of medal to be won: gold, silver, and bronze, awarded to first, second, and third place, respectively. The granting of awards is laid out in detail in the Olympic protocols.</h4>
        <br>
        <h4>Medal designs have varied considerably since the Games in 1896, particularly in the size of the medals for the Summer Olympic Games.</h4>
        <br>
        <a class="btn" href="#">GET INFORMATION</a>
      </div>
    </div>
    <div class="block3">
      <div class="paris">
        <h2>The vision of Paris 2024</h2>
        <br><h3>Paris 2024 will see a new vision of Olympism in action.</h3>
        <br>
        <h4>We will offer one of the world’s most inspirational cities as a memorable stage for.</h4>
        <br>
        <h4>Аthletes – and a truly global platform to promote them, and their incredible stories.</h4>
        <br>
        <a class="btn" href="#">MORE INFORMATION</a>
      </div>
      <img src="../../../../../assets/images/6.jpg" alt>
    </div>
    <div class="contact">
      <h2>CONTACT ME</h2>
      <h2>You can contact us by leaving a message </h2>
      <div class="contact-img">
        <div class="contact-img-a">
          <a href="#"><img src="../../../../../assets/images/7.png" alt></a>
        </div>
        <div class="contact-img-a">
          <a href="#"><img src="../../../../../assets/images/7.png" alt></a>
        </div>
        <div class="contact-img-a">
          <a href="#"><img src="../../../../../assets/images/7.png" alt></a>
        </div>
        <div class="contact-img-a">
          <a href="#"><img src="../../../../../assets/images/7.png" alt></a>
        </div>
        <div class="contact-img-a">
          <a href="#"><img src="../../../../../assets/images/7.png" alt></a>
        </div>
        <div class="contact-img-a">
          <a href="#"><img src="../../../../../assets/images/7.png" alt></a>
        </div>
        <div class="contact-img-a">
          <a href="#"><img src="../../../../../assets/images/7.png" alt></a>
        </div>
        <div class="contact-img-a">
          <a href="#"><img src="../../../../../assets/images/7.png" alt></a>
        </div>
      </div>
      <div class="email">
        <input type="email" name="email" placeholder="Your's email here">
        <div class="btn-email">
          <button name="btn-email">SEND</button>
        </div>
      </div>
    </div>
    <div class="block4">
      <img src="../../../../../assets/images/7.png" alt>
      <img src="../../../../../assets/images/7.png" alt>
      <img src="../../../../../assets/images/7.png" alt>
      <img src="../../../../../assets/images/7.png" alt>
      <img src="../../../../../assets/images/7.png" alt>
      <img src="../../../../../assets/images/7.png" alt>
    </div>
    <div class="block4">
      <img src="../../../../../assets/images/7.png" alt>
      <img src="../../../../../assets/images/7.png" alt>
      <img src="../../../../../assets/images/7.png" alt>
      <img src="../../../../../assets/images/7.png" alt>
      <img src="../../../../../assets/images/7.png" alt>
      <img src="../../../../../assets/images/7.png" alt>
    </div>
    <footer>
      <ul class="menu-nav">
        <ul class="menu">
          <li class="menu_item"><a href="#">home</a></li>
          <li class="menu_item"><a href="#">medals</a></li>
          <li class="menu_item"><a href="#">sports</a></li>
          <li class="menu_item"><a href="#">ladies</a></li>
        </ul>
        <div class="logo"><a href="#"><img
          src="https://olympics.com/en/images/static/beijing-images/shared/b2022-label.svg" alt="Beijing"></a>
        </div>
      </ul>
        <div class="block5">
          <img src="../../../../../assets/images/7.png" alt>
          <img src="../../../../../assets/images/7.png" alt>
          <img src="../../../../../assets/images/7.png" alt>
          <img src="../../../../../assets/images/7.png" alt>
          <img src="../../../../../assets/images/7.png" alt>
          <img src="../../../../../assets/images/7.png" alt>
        </div>
    </footer>
    <div class="verh">
      <p>this is the bottom of this site</p>
    </div>
  </div>
