   <div class="social-nav">
          <div class="social-nav__socials">
              <div class="social-nav__socials-wrapper">
                  <ul class="social-nav__socials-list">
                  <li class="social-nav__socials-list-item">
                      <a href="#">
                          <svg class="social-nav__link"
                               data-src="../../../../../assets/images/svg/facebook.svg">
                          </svg>
                      </a>
                  </li>
                  <li class="social-nav__socials-list-item">
                      <a href="#">
                          <svg class="social-nav__link"
                               data-src="../../../../../assets/images/svg/twitter.svg">
                          </svg>
                      </a>
                  </li>
                  <li class="social-nav__socials-list-item">
                      <a href="#">
                          <svg class="social-nav__link"
                               data-src="../../../../../assets/images/svg/telegram.svg">
                          </svg>
                      </a>
                  </li>
                      <li class="social-nav__socials-list-item">
                          <a href="#">
                              <svg class="social-nav__link"
                                   data-src="../../../../../assets/images/svg/instagram.svg">
                              </svg>
                          </a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
