.social-nav {
  &__socials {
    margin: auto 0;
    &-list {
      display: flex;
      &-item {
        border-left: 1px solid var(--border-color);
        @media (max-width: 770px) {
          border:none;
        }
        &-img {
          width: 20px;
          height: 20px;
          &:last-child {
            border-right: 1px solid var(--border-color);
          }
        }
      }
    }
  }
  &__link {
    display: block;
    height: 50px;
    width: 50px;
    padding: 15px;
    fill: var(--secondary-color);
    &:hover {
      fill: var(--alternative-color);
    }
  }
}
._border .social-nav__socials-list-item {
  border: none;
}

