.line6 {
  padding: 30px;
  &__text {
    display: block;
    text-align: center;
    &-title {
      font-size: 45px;
      font-weight: 300;
    }
  }
  &__image-scroll {
    overflow-x: auto;
  }
  &__image-list {
    display: flex;
    flex-wrap: wrap;
    &-item {
      min-width: 20%;
      width: 20%;
      height: auto;
      padding: 7px;
    }
  }
}

@media all and (max-width: 800px) {
  .line6 {
    &__image-list {
      flex-wrap: nowrap;
    }
  }
}