<div class="section-primary">
    <div class="page-container">
        <div class="line6">
            <div class="line6__text">
                <h2 class="line6__text-title">#INDOCHINO</h2>
            </div>
            <div class="line6__image-scroll">
                <ul class="line6__image-list">
                    <li class="line6__image-list-item">
                        <img src="../../../../../assets/images/girl.jpeg" alt>
                    </li>
                    <li class="line6__image-list-item">
                        <img src="../../../../../assets/images/girl.jpeg" alt>
                    </li>
                    <li class="line6__image-list-item">
                        <img src="../../../../../assets/images/girl.jpeg" alt>
                    </li>
                    <li class="line6__image-list-item">
                        <img src="../../../../../assets/images/girl.jpeg" alt>
                    </li>
                    <li class="line6__image-list-item">
                        <img src="../../../../../assets/images/girl.jpeg" alt>
                    </li>
                    <li class="line6__image-list-item">
                        <img src="../../../../../assets/images/girl.jpeg" alt>
                    </li>
                    <li class="line6__image-list-item">
                        <img src="../../../../../assets/images/girl.jpeg" alt>
                    </li>
                    <li class="line6__image-list-item">
                        <img src="../../../../../assets/images/girl.jpeg" alt>
                    </li>
                    <li class="line6__image-list-item">
                        <img src="../../../../../assets/images/girl.jpeg" alt>
                    </li>
                    <li class="line6__image-list-item">
                        <img src="../../../../../assets/images/girl.jpeg" alt>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
