<div class="primary-section contacts">
  <div class="page-container">
    <div class="contacts__wrapper">
      <ul class="contacts__wrapper-list">
        <li class="contacts__wrapper-list-item">
          <h2 class="contacts__wrapper-list-item-title">Newsletters</h2>
          <span class="contacts__wrapper-list-item-text">Dies autern vel eur irigre dollar in<br>herdrerit in viulpulate welt csse<br>molestyle consequal vel illurg dollar</span>
          <form class="contacts__wrapper-list-item-search">
            <input class="contacts__wrapper-list-item-search-input" type="text"
                   placeholder="Discribtion">
            <a href="#">
              <button type="submit"
                      class="button _search">GO</button>
            </a>
          </form>
        </li>
        <li class="contacts__wrapper-list-item">
          <h2 class="contacts__wrapper-list-item-title">Lattest News</h2>
          <div class="contacts__wrapper-list-item-column">
            <div class="contacts__wrapper-list-item-column-item">
              <div class="contacts__wrapper-list-item-column-item-image">
                <img src="../../../../../assets/images/contacts1.jpeg" alt="news1">
              </div>
              <div class="contacts__wrapper-list-item-text">
                <span>Profiformat Gallery. Multiple<br>image</span>
                <span class="data">October 21,2013 - 3:31 pm</span>
              </div>
            </div>
            <div class="contacts__wrapper-list-item-column-item">
              <div class="contacts__wrapper-list-item-column-item-image">
                <img src="../../../../../assets/images/contacts2.jpeg" alt="news2">
              </div>
              <div class="contacts__wrapper-list-item-text">
                <span>Showburding is fire</span>
                <span class="data">December 12, 2012 - 9:11 pm</span>
              </div>
            </div>
          </div>
        </li>
        <li class="contacts__wrapper-list-item">
          <h2 class="contacts__wrapper-list-item-title">Tags</h2>
          <ul class="contacts__wrapper-list-item-container">
            <li class="contacts__wrapper-list-item-container-element">
              <a href="#" class="button">Agent Login</a>
            </li>
            <li class="contacts__wrapper-list-item-container-element">
              <a href="#" class="button">Costumer Login</a>
            </li>
            <li class="contacts__wrapper-list-item-container-element">
              <a href="#" class="button">Not a Member?</a>
            </li>
            <li class="contacts__wrapper-list-item-container-element">
              <a href="#" class="button">Contacts</a>
            </li>
            <li class="contacts__wrapper-list-item-container-element">
              <a href="#" class="button">New Horizonts</a>
            </li>
            <li class="contacts__wrapper-list-item-container-element">
              <a href="#" class="button">Lanscape</a>
            </li>
            <li class="contacts__wrapper-list-item-container-element">
              <a href="#" class="button">Tags</a>
            </li>
            <li class="contacts__wrapper-list-item-container-element">
              <a href="#" class="button">Nice</a>
            </li>
            <li class="contacts__wrapper-list-item-container-element">
              <a href="#" class="button">Score</a>
            </li>
            <li class="contacts__wrapper-list-item-container-element">
              <a href="#" class="button">Portrait</a>
            </li>
          </ul>
        </li>
        <li class="contacts__wrapper-list-item">
          <h2 class="contacts__wrapper-list-item-title">Adresses</h2>
          <span class="contacts__wrapper-list-item-text">DieSan Created better Shounhauser Aulliee<br>167c, 10435, Berlin Germany</span>
          <div class="contacts__wrapper-list-item-email">
            <span class="email">E-mail</span>
            <span class="contacts__wrapper-list-item-text">main@blindheatgeneration.de</span>
          </div>
          <social-nav></social-nav>
        </li>
      </ul>
    </div>
  </div>
</div>
