.contacts {
  &__wrapper {
    padding: 30px 0;
    &-list {
      display: flex;
      flex-wrap: wrap;
      text-align: left;
      &-item {
        &-email {
          display: flex;
          flex-wrap: wrap;
          margin-bottom: 15px;
        }
        &-container {
          display: flex;
          flex-wrap: wrap;
          &-element {
            display: flex;
            padding: 0 5px 5px 0;
          }
          .button {
            background-image: none;
            color: var(--secondary-color);
            padding: 10px 15px;
            border: 1px Solid var(--secondary-color);
          }
          .button:hover {
            background-color: var(--alternative-color);
          }
        }
        width: 25%;
        color: var(--secondary-color);
        &-column {
          display: block;
          &-item {
            display: flex;
            margin-bottom: 35px;
            gap: 10px;
            &-image {
              border: 2px Solid var(--secondary-color);
              width: 51px;
              height: 51px;
              margin: 5px;
            }
            &-text {
              display: block;
              height: 90px;
            }
          }
        }
        &-title {
          color: var(--alternative-color);
          margin-bottom: 25px;
        }
        &-text {
          line-height: 1.8;
        }
        &-search {
          display: inline-flex;
          flex-wrap: wrap;
          gap: 5px;
          &-input {
            padding: 7px;
            margin-bottom: 1px;
            background-color: var(--secondary-color);
          }
          .button {
            background-color: var(--alternative-color);
            color: var(--secondary-color);
            padding: 10px 20px;
          }
        }
      }
    }
  }
}
@media (max-width: 1120px) {
  .contacts__wrapper-list {
    justify-content: space-evenly;
    &-item-search-input {
      padding: 8px;
      margin-bottom: 10px;
    }
  }
}
@media (max-width: 700px) {
  .contacts__wrapper-list-item-search-input {
    width: 130px;
  }
}
@media (max-width: 900px) {
  .contacts__wrapper-list-item {
    width: 35%;
  }
}
@media (max-width: 650px) {
  .contacts__wrapper-list-item {
    width: 60%;
  }
}
