<div class="section-secondary menu">
  <div class="page-container">
    <div class="menu__wrapper">
      <div class="menu__logo">
        <a class="header__logo"
           href="#">
          <img class="header__logo-img"
               src="../../../../../assets/images/logo.jpg"
               alt="logo">
        </a>
      </div>
      <ul class="menu__list">
        <li class="menu__list-item">
          <a class="button _menu"
             href="#">
            HOME
          </a>
        </li>
        <li class="menu__list-item">
          <a class="button _menu"
             href="#">
            DESTINATIONS
          </a>
        </li>
        <li class="menu__list-item">
          <a class="button _menu"
             href="#">
            CRIUSES
          </a>
        </li>
        <li class="menu__list-item">
          <a class="button _menu"
             href="#">
            SPECIALS
          </a>
        </li>
        <li class="menu__list-item">
          <a class="button _menu"
             href="#">
            HOLIDAYS
          </a>
        </li>
        <li class="menu__list-item">
          <a class="button _menu"
             href="#">
            BLOG
          </a>
        </li>
        <li class="menu__list-item">
          <div class="menu__list-item-img">
            <a href="#">
              <svg class="menu__list-search"
                   data-src="../../../../../assets/images/svg/search.svg" ></svg>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
