.menu {
  background-color: var(--secondary-color);
  &__logo {
    height: 120px;
    width: 200px;
  }
  &__list {
    display: flex;
    align-items: center;
    font-size: 20px;
    &-search{
      fill: var(--desc-color);
      &:hover{
        fill: var(--alternative-color);
      }
    }
    &-item {
      padding:0 10px;
      @media (max-width: 1070px){
        margin-left:0;
      }
      &:last-child {
        padding:0 0 0 20px;
      }
      &-img {
        height: 40px;
        width: 40px;
      }
    }
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.button._menu:hover {
  color: var(--alternative-color);
}
.sb-search {
  position: relative;
  margin-top: -20px;
  margin-left: -250px;
  overflow: hidden;
  &:hover{
    overflow: visible;
  }
}
.sb-search-input {
  position: absolute;
}
.active {
  color: var(--alternative-color);
}
//Media
@media (max-width: 1070px) {
  .menu {
    &__list {
      &-item{
        padding: 0;
      }
    }
  }
}
@media (max-width: 1050px) {
  .menu{
    &__wrapper{
      display: block;
    }
    &__list {
      justify-content: center;
      margin-bottom: 10px;
    }
    &__logo {
      margin: 0 auto;
    }
  }
}
@media (max-width: 820px) {
  .menu {
    &__list{
      flex-wrap: wrap;
      margin-bottom: 25px;
      font-size: 15px;
      &-item {
        &-img {
          width: 25px;
          height: 25px;
          margin: 0 auto;
        }
      }
    }
  }
}
