.line8 {
  padding: 30px;
  &__image {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    gap: 30px;
    padding-bottom: 30px;
    list-style-type: none;
  }
  &__text1 {
    display: block;
    padding-bottom: 30px;
    text-align: center;
  }
  &__text2 {
    display: block;
    text-align: center;
    padding-bottom: 60px;
    color: var(--blu-color);
    text-decoration: underline;
  }
}

