<div class="section-primary">
  <div class="page-git checontainer">
    <div class="line8">
      <ul class="line8__image">
        <li class="line8__image-item">
          <img src="assets/images/facebook.png" alt>
        </li>
        <li class="line8__image-item">
          <a href="#"><img src="assets/images/twitter.png" alt></a>
        </li>
        <li class="line8__image-item">
          <img src="assets/images/insta.png" alt>
        </li>
      </ul>
      <h5 class="line8__text1">Copyright 2006-2013 Indachina Inc ALL Right reserved</h5>
      <h5 class="line8__text2">*See contest terms and conditions</h5>
    </div>
  </div>
</div>