.section-secondary {
  background-color: #5f9dd8;
}
.section-primary-logo {
  background-color: white;
}
.section-third {
  background-color: #323232;
}
.section-fourth {
  background-color: grey;
}
.section-primary_shadow {
  max-width: 1920px;
  margin: 0 auto;
  background-color: white;
  position: fixed;
  box-shadow: 0 2px 10px 0;
  left: 0;
  right: 0;
  top: 0;
}
