<div class="page-container">
    <div class="header">
        <div class="header__text"
             routerLink="home"
             routerLinkActive="active">MY PORTFOLIO</div>
        <ul class="header__social">
            <li class="header__social-nav">
                <a href="https://www.facebook.com/yegor.astreiko"
                   target="_blank">
                    <svg class="header__social-nav-img"
                         data-src="./assets/images/svg/facebook.svg">
                    </svg>
                </a>
            </li>
            <li class="header__social-nav">
                <a href="https://www.instagram.com/egor_astreiko/"
                   target="_blank">
                   <svg class="header__social-nav-img"
                        data-src="./assets/images/svg/instagram.svg">
                   </svg>
                </a>
            </li>
            <li class="header_myportfolio">
                <a href="/home">
                    <img class="header_myportfolio-img"
                         src="../../../../assets/images/myportfolio.png"
                         alt="myportfolio">
                </a>
            </li>
        </ul>
    </div>
</div>