.header {
  display: flex;
  justify-content: space-between;
  height: 200px;
  &_myportfolio {
    height: 150px;
    &:hover {
      opacity: 0.5;
      transition: 2.7s;
    }
  }
  &__social {
    display: flex;
    align-items: center;
    &-nav {
      &-img {
        display: block;
        height: 60px;
        width: 60px;
        padding: 15px;
        fill: var(--secondary-color);
        &:hover {
          fill: var(--lite-color);
          transition: 0.7s;
        }
      }
    }
  }
  &__text {
    display: flex;
    font-family: cursive;
    font-size: 40px;
    color: var(--secondary-color);
    align-items: center;
    cursor: pointer;
    &:hover {
      color: var(--lite-color);
      transition: 0.7s;
    }
  }
}
.active {
  color: var(--lite-color);
  fill: var(--lite-color);
}