.login {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    @media (max-width: 770px) {
      flex-wrap: wrap;
    }
  }
  &__cabinet {
    &-wrapper {
      display: flex;
    }
    &-list {
      display: flex;
      align-items: center;
      &-item {
        padding: 5px;
        border-right: 1px solid var(--border-color);
        @media (max-width: 770px){
          padding:0;
          @media (max-width: 500px) {
            &:not(:first-child) {display: none;}
          }
        }
        &-img {
          fill: var(--secondary-color);
          display: inline-block;
          height: 20px;
          width: 20px;
        }
        &-link {
          text-decoration: none;
          color: var(--alternative-color);
          margin-right: 5px;
        }
        &-text{
          display: inline-block;
        }
      }
    }
  }
  &__socials {
    margin:auto 0;
    &-list {
      display: flex;
      &-item {
        border-left: 2px solid var(--border-color);
        padding: 20px;
        &._border {
          border: none;
        }
        &-img {
          width: 20px;
          height: 20px;
        }
        &:last-child {
          border-right: 2px solid var(--border-color);
        }
      }
    }
  }
}
.wrap{
  text-align: center;
}
//Media
@media (max-width: 1410px) {
  .login {
    &__cabinet {
      &-list {
        &-item {
          text-align: center;
        }
      }
    }
  }
}
@media (max-width: 1070px) {
  .login {
    &__wrapper {
      justify-content: center;
      font-size: 15px;
    }
    &__cabinet{
      &-list{
        &-item{
          border: none;
          &:last-child{
            display: none;
          }
          &-img{
            width: 10px;
            height: 12px;
          }
        }
      }
    }
  }
}
