<div class="primary-section login"
     id="top">
<div class="page-container">
  <div class="login__wrapper">
    <div class="login__cabinet-wrapper">
      <ul class="login__cabinet-list">
        <li class="login__cabinet-list-item">
          <div class="wrap">
            <div class="login__cabinet-list-item-img">
              <svg data-src="../../../../../assets/images/svg/user.svg" ></svg>
            </div>
            <a class="button _login"
               href="#">
                            <span class="login__cabinet-list-item-text">
                                Agent Login </span>
            </a>
          </div>
        </li>
        <li class="login__cabinet-list-item">
          <div class="login__cabinet-list-item-img">
            <svg data-src="../../../../../assets/images/svg/user.svg" ></svg>
          </div>
          <a class="button _login"
             href="#">
                            <span class="login__cabinet-list-item-text">
                                Customer Login </span>
          </a>
        </li>
        <li class="login__cabinet-list-item">
          <div class="login__cabinet-list-item-img">
            <svg data-src="../../../../../assets/images/svg/file.svg" ></svg>
          </div>
          <a class="button _login"
             href="#">
                            <span class="login__cabinet-list-item-text">
                                Not a member ?
                                <a href="#"
                                   class="login__cabinet-list-item-link">
                                    Register</a>
                            </span>
          </a>
        </li>
        <li class="login__cabinet-list-item">
          <a class="button _login"
             href="#">
                            <span class="login__cabinet-list-item-text">
                                Call us now 815-123-4567 </span>
          </a>
        </li>
      </ul>
    </div>
<social-nav></social-nav>
  </div>
</div>
</div>

