<div class="section-secondary">
  <div class="page-container">
    <div class="line4">
      <ul class="line4-column">
        <li class="line4-column__column">
          <div class="line4-column__column-image" >
            <img src="../../../../../assets/images/1over.png">
          </div>
          <h3 class="line4-column__column-title">COME SEE US</h3>
          <div class="line4-column__column-line">
            <hr class="white-hr">
          </div>
          <h5 class="line4-column__column-text">Schedule an apportment wiht a style Guide<br>ake take yore meashuremennts and walk you<br>sroug all yore suiting options.</h5>
        </li>
        <li class="line4-column__column">
          <div class="line4-column__column-image">
            <img src="../../../../../assets/images/2over.png">
          </div>
          <h3 class="line4-column__column-title">MAKE IT YOUR OUN</h3>
          <div class="line4-column__column-line">
            <hr class="white-hr">
          </div>
          <h5 class="line4-column__column-text">When yor  syits arrived in around foure weeks<br>come back to our showrooms for any final<br>alterations-your expert tailor in enshure your<br>garment fit just right.</h5>
        </li>
        <li class="line4-column__column">
          <div class="line4-column__column-image">
            <img src="../../../../../assets/images/3over.png">
          </div>
          <h3 class="line4-column__column-title">PERFECT THE FIT</h3>
          <div class="line4-column__column-line">
            <hr class="white-hr">
          </div>
          <h5 class="line4-column__column-text">Schedule an apportment wiht a style Guide<br>ake take yore meashuremennts and walk you<br>sroug all yore suiting options.</h5>
        </li>
      </ul>
    </div>
  </div>
</div>
