.line4-column {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 0px;
  text-align: center;
  justify-content: space-around;
  gap: 150px;
  &__column {
    display: inline-block;
    color: var(--secondary-color);
    &-image {
      max-width: 130px;
      max-height: 130px;
      margin: 0 auto;
    }
    &-title {
      padding: 30px;
    }
    &-line {
      padding-bottom: 50px;
    }
    &-text {
      color: var(--secondary-color);
    }
  }
}
.line4 {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-around;
  gap: 30px;
}
